<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>StoreTracker | 5501</title>
</head>
<style>
    body{
        background: rgba(250, 220, 0, 1);
    }
</style>
<body class="">
    <div>
    <div class="row">
        <h1 class="col m-5">Store 5501</h1>
        <div class="p-5 col text-end">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <h7 class="col pt-2"><%= username.name%></h7>
                <a class="col btn btn-dark" href="/logout">Sign out</a>
            </div>
        </div>
    </div>
    <div class="container">
        <nav>
            <ul class="row bg-dark">
                <li class="d-inline col"><a class="btn ps-4 p-3 pe-4 me-5 ms-5 col btn-dark" href="/home">New Sale</a></li>
                <li class="d-inline col"><a class="btn ps-4 p-3 pe-4 me-5 ms-5 col btn-dark" href="/sales">Rep Sales</a></li>
                <li class="d-inline col"><a class="btn ps-4 p-3 pe-4 me-5 ms-5 col btn-dark" href="/store">Store Sales</a></li>
                <li class="d-inline col"><a class="btn ps-4 p-3 pe-4 me-5 ms-5 col btn-dark" href="/returns">Returns</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <h3 class="col m-5 text-center">Store Weekly Sales</h3>

    <div class="container row mt-4 mb-4 bg-dark p-2 ms-1">
        <% if (week - 1 == 0){ %>
            <div class="col"><a class="btn-secondary me-2 btn" onClick="weekCheck()" href="/store/<%= year - 1 %>/<%=52%>">Last Week</a></div>
            <% } else { %>
        <div class="col ms-4"><a class="btn-secondary btn" onClick="weekCheck()" href="/store/<%= year %>/<%=week - 1%>">Last Week</a></div>
        <%}%>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <% if(username.role == "Management") { %>
            <div class="col"> <a class="btn btn-primary" href="/store/manage">Management</a></div>
            <%}%>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <% if (week + 1 > 52){ %>
            <div class="col"><a class="btn-secondary me-2 btn" onClick="weekCheck()" href="/store/<%= year + 1 %>/<%=1%>">Next Week</a></div>
            <% } else { %>
            <div class="col"><a class="btn-secondary me-2 btn" onClick="weekCheck()"href="/store/<%= year %>/<%=week + 1%>">Next Week</a></div>
            <%}%>
    </div>
    <div class="row ps-3 pt-3 pe-3 pb-1 text-center bg-secondary">
        <h7 class="col mt-2">Week: <%=week%></h7>
        <h7 class="col mt-2">ID</h7>
        <h7 class="col mt-2">Express</h7>
        <h7 class="col mt-2">Nac</h7>
        <h7 class="col mt-2">T-Nac</h7>
        <h7 class="col mt-2">HUP</h7>
        <h7 class="col mt-2">MBB</h7>
        <h7 class="col mt-2">T-MBB</h7>
        <h7 class="col mt-2">TVM%</h7>
        <h7 class="col mt-2">FDP</h7>
        <h7 class="col mt-2">ACC</h7>
        <h7 class="col mt-2">FDP%</h7>
        <h7 class="col mt-2">MC</h7>
        <!--<h7 class="col mt-2">Subs to Target</h7>
        <h7 class="col mt-2">Color</h7> -->
        <h7 class="col mt-2">Detail</h7>
    </div>
    <% thisWeek.forEach(sale => { %>
    <div class="bg-light mt-4">
        <div>
            <div class="row ps-3 pt-3 pe-3 pb-1 text-center bg-light">
                <h7 class="col mt-2"><%= sale.user %></h7>
                <h7 class="col mt-2"><%= sale.userID %></h7>
                <h7 class="col mt-2"><%= sale.express %></h7>
                <h7 class="col mt-2"><%= sale.nac %></h7>
                <h7 class="col mt-2"><%= sale.termNac %></h7>
                <h7 class="col mt-2"><%= sale.hup %></h7>
                <h7 class="col mt-2"><%= sale.mbb %></h7>
                <h7 class="col mt-2"><%= sale.termMbb %></h7>
                <h7 class="col mt-2"><%= sale.tvmAttach %>%</h7>
                <h7 class="col mt-2"><%= sale.fdp %></h7>
                <h7 class="col mt-2">$<%= sale.acc %></h7>
                <h7 class="col mt-2"><%= sale.fdpAttach %>%</h7>
                <h7 class="col mt-2"><%= sale.mc %></h7>
                <!--<h7 class="col mt-2">
                    <% if(sale.totalSubs > sale.strech) { %>
                            0
                        <% }else if(sale.totalSubs < sale.target){ %>
                            <%= sale.target - sale.totalSubs %>
                        <% } else if(sale.totalSubs >= sale.target){ %>
                            <%= sale.strech - sale.totalSubs  %>
                        <% } %>
                </h7>
                <h7 class="col">
                        <% if(sale.weeklyAchieved == "Black") { %>
                            <a class="btn btn-dark btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                        <% }else if(sale.weeklyAchieved == "Green"){ %>
                            <a class="btn btn-success btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                        <% }else if(sale.weeklyAchieved == "Yellow"){ %>
                            <a class="btn btn-warning btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                        <% }else{ %>
                            <a class="btn btn-danger btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                        <% } %>
                </h7> -->
                <a class="btn-dark mb-2 btn col" href="/weekly/<%= sale.userID%>/<%= sale.year %>/<%= sale.week %>">View</a>
            </div>
        </div>
    </div>
    <% }) %>
    <div class="row ps-3 pt-3 pe-3 pb-3 mt-4 mb-5 text-center bg-secondary">
        <h7 class="col mt-2">Week End:</h7>
        <h7 class="col mt-2"><%= storeWeekly.endOfWeek %></h7>
        <h7 class="col mt-2"><%= storeWeekly.express %></h7>
        <h7 class="col mt-2"><%= storeWeekly.nac %></h7>
        <h7 class="col mt-2"><%= storeWeekly.termNac %></h7>
        <h7 class="col mt-2"><%= storeWeekly.hup %></h7>
        <h7 class="col mt-2"><%= storeWeekly.mbb %></h7>
        <h7 class="col mt-2"><%= storeWeekly.termMbb %></h7>
        <h7 class="col mt-2"><%= storeWeekly.tvmAttach %>%</h7>
        <h7 class="col mt-2"><%= storeWeekly.fdp %></h7>
        <h7 class="col mt-2">$<%= storeWeekly.acc %></h7>
        <h7 class="col mt-2"><%= storeWeekly.fdpAttach %>%</h7>
        <h7 class="col mt-2"><%= storeWeekly.mc %></h7>
        <!-- <h7 class="col mt-2">
            <% if(storeWeekly.totalSubs > storeWeekly.strech) { %>
                    0
                <% }else if(storeWeekly.totalSubs < storeWeekly.target){ %>
                    <%= storeWeekly.target - storeWeekly.totalSubs %>
                <% } else if(storeWeekly.totalSubs >= storeWeekly.target){ %>
                    <%= storeWeekly.strech - storeWeekly.totalSubs  %>
                <% } %>
        </h7>
        <h7 class="col">
            <% if(storeWeekly.weeklyAchieved == "Green") { %>
                <a class="btn btn-success btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                <% }else if(storeWeekly.weeklyAchieved == "Yellow"){ %>
                <a class="btn btn-warning btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                <% }else{ %>
                <a class="btn btn-danger btn-lg active rounded-circle pt-3 pb-3 mt-1"></a>
                <% } %>
            </h7> -->
        <h7 class="col mt-2">Week: <%= storeWeekly.week %></h7>
    </div>
</div>
</body>
</html>